* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


h1 {
    font-family: cursive;
    box-shadow: 25px -21px 55px -13px rgba(0, 0, 0, 0.68) inset;
    -webkit-box-shadow: 25px -21px 55px -13px rgba(238, 223, 223, 0.68) inset;
    -moz-box-shadow: 25px -21px 55px -13px rgba(225, 209, 209, 0.68) inset;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation-duration: 5s;
    animation-name: aparecer;
    animation-delay: initial;

}


@keyframes aparecer {
    0% {
        opacity: 0;
    }

    25% {
        color: red
    }
}


h2 {
    font-family: cursive
}

h3 {
    font-family: cursive;

}

h4 {
    font-family: cursive;
    text-align: center;
}

h5 {
    font-family: cursive;
    text-align: right;
}
h6 {
    font-family: cursive;
    box-shadow: 25px -21px 55px -13px rgba(0, 0, 0, 0.68) inset;
    -webkit-box-shadow: 25px -21px 55px -13px rgba(255, 255, 255, 0.68) inset;
    -moz-box-shadow: 25px -21px 55px -13px rgba(255, 255, 255, 0.68) inset;
}

body {
    background-image: url(https://scontent.faep34-1.fna.fbcdn.net/v/t39.30808-6/300384712_513245957467997_2612880900177317638_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_ohc=tMnQ7Af7iIEAX-Ke4CC&_nc_ht=scontent.faep34-1.fna&oh=00_AfCgFkMTqbtcNc7NpWbJ0BOOEGzACMtvEZXlpNRaO8ZUNQ&oe=6536E013);
    text-align: center;
    

}

.menu {
    overflow: hidden;
    background-color: 333;
    box-shadow: 25px -21px 5px -13px rgba(0, 0, 0, 0.68) inset;
    -webkit-box-shadow: 25px -21px 55px -13px rgba(238, 223, 223, 0.68) inset;
    -moz-box-shadow: 25px -21px 55px -13px rgba(225, 209, 209, 0.68) inset;
    
    
}

.menu a {
    float: left;
    display: block;
    color: rgb(240, 236, 231);
    padding: 4px 14px;
    font-family: cursive;
    
}

.menu:hover {
    background-color: black;

}

@media screen and (max-widht: 700px) {
    .menu a {
        float: none;
        width: 50%;

    }
}

@media screen and (max-widht: 360px) {
    .fotoportada a {
        float: none;
        width: 10%;

    }
}

section article {
    background-color: blanchedalmond;
    box-sizing: border-box;
    width: 100%;
    border: solid rgb(163, 94, 94) 40px;
    padding: 10px;
}

footer {
    background-color: rgb(163, 94, 94);
    box-sizing: border-box;
    width: 100%;
    border: rgb(213, 171, 107) 10px;
    padding: 5px;

}

/* formulario */

fieldset {
    text-align: left;
    font-family: cursive;
    background-color: rgb(191, 134, 134);
    box-sizing: border-box;
    width: 100%;
    border: solid rgb(163, 94, 94) 40px;
    padding: 10px;
    box-shadow: 25px -21px 55px -13px rgba(0, 0, 0, 0.68) inset;
    -webkit-box-shadow: 25px -21px 55px -13px rgba(0, 0, 0, 0.68) inset;
    -moz-box-shadow: 25px -21px 55px -13px rgba(0, 0, 0, 0.68) inset;

}

.ubication {
    line-height: normal;
    font-size: large;
    font-family: Arial, Helvetica, serif;

}

.sub {
    font-family: cursive;
    text-decoration: underline;

}

.logosredes {
    text-align: right;
    background-color: rgb(163, 94, 94);


}

.wplogo {
    text-align: left;
    position: sticky;
    top: 100;
    height: 100px;
    width: 1000%;

}

.btn-primary {
    text-align: right;
    background-color: rgb(163, 94, 94);
}

.card {
    background-color: bisque;
    animation-duration: 45s;
}

@keyframes aparecer {
    0% {
        opacity: 10;
    }

    25% {
        color: rgb(163, 94, 94);
    }

}

.hero {
    background-image: url(https://scontent.faep34-1.fna.fbcdn.net/v/t39.30808-6/300384712_513245957467997_2612880900177317638_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_ohc=tMnQ7Af7iIEAX92ADkr&_nc_ht=scontent.faep34-1.fna&oh=00_AfBmLwMpmo68_EQk2SH9h4YJfaO3upxOeH3cMfmFatnpcA&oe=6534E5D3);
    height: 100vh;
    background-position: center;
    background-size: cover;
}
